@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #FFFFFF;
  margin: 0;
  box-sizing: border-box;
}

/* vares */

:root {
  --main-color: #F8ECD9;
  --light-color: #808285;
  --dark-color: #231F20;
  --super-dark-color: #000000;
}
