#statistic {
    background-color: var(--main-color);
    background-image: url('./Frame.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#statistic h1 {
    text-align: center;
    color: var(--light-color);
    background-color: var(--main-color);
}

#s-numbers {
    padding: auto;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
}

.s-num {
    color: var(--dark-color);
    font-size: 48px;
    font-weight: 700;
    display: flex;
}

.supsub {
    padding: 5px;
}
.subscript {
    color: var(--light-color);
    display:block;
    left:2px;
    top: -5px;
    font-size: 15px;
    font-weight: 400;
}
.superscript {
    color: var(--light-color);
    display:block;
    left:2px;
    top: -5px;
    font-size: 30px;
    font-weight: 700;
}

.com-text {
    text-align: center;
    background-color: var(--main-color);
}

.com-text p{
    color: var(--light-color);
}

.com-text p strong a{
    color: var(--light-color);
}